body{
    color: #a8fbdc;
    background-color: #404040;
    text-align: center;
    justify-content: center;
    /* position:fixed; */
}

.navigo{
    display:flex;
}

.mainmenu{
    display:block;
}

.navmenu{
    display:block;
    background-color: black;
}

nav{
    background-color: black;
    padding: 40px;
}

.mainbordermenu{
    padding: 10px;
}

#toggle{
    display: none;
}

#togglemenu{
    display: block;
}

.submenu_game, .submenu_edit, .submenu_view{
    display: none;
}

.subitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    background-color: #f1f1d4;
}

.subitem:hover{
    display: block;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: #a8fbdc;
}

.flexclass{
    display: flex;
}

#spid{
    margin-left: 10px;
}

#board{
    display: flex;
    /* justify-content: center; */
}

canvas{
    border: 1px solid black;
    width: 90%;
}

#piece_setup{
    width: 100%;
}

.fenbox{
    margin: 20px;
}

#fen{
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 768px) {
    .navigo{
        display:block;
    }

    nav{
        display: flex;
        background-color: black;
        padding: 20px;
        margin: 0 0 10px 0;
    }
    
    .mainmenu{
        display:flex;
    }

    #toggle{
        display: flex;
    }
    
    .menu{
        font-size:large;
        display: block;
        background-color: #f1f1d4;
    }

    .submenu{
        display:none;
        margin: 10px 0 10px 0;
    }
    
    .menu-l{
        display: none;
    }

    nav h2{
        margin: auto;
    }
    canvas{
      width: 100%;
    }
    #fen{
        width: 100%;
    }
  } 
